<div class="">
		
  <h1> Edit Profile </h1>

  <%= form_tag user_path(@user), :method => :put do %>

    <%= label_tag :name, 'Nombre', class: '' %>
    <%= text_field_tag :name, @user&.name, :required => false, class: '' %>
    <br>

    <%= label_tag :lastname, 'Apellido', class: '' %>
    <%= text_field_tag :lastname, @user&.lastname, :required => false, class: '' %>
    <br>

    <%= label_tag :email, 'Email', class: '' %>
    <%= email_field_tag :email, @user&.email, :required => true, class: '' %>
    <br>

    <%= submit_tag 'Editar', class: '' %>
  <% end %>

  <%= link_to 'Back', :back %>
</div>