<div class="">
		
  <h1> Show </h1>

  <div>
    Name: <%= @user.name %>
  </div>
  <div>
    Lastname: <%= @user.lastname %>
  </div>
  <div>
    Email: <%= @user.email %>
  </div>
  <br>

  <div>
    <% if policy(@user).edit? %>
      <%= link_to 'Edit profile', edit_user_path(@user) %>
      <br>

      <%= link_to 'Edit password', new_passwords_path(@user) %>
    <% end %>
    <br>

    <%= link_to 'Back', :back %>
  </div>

</div>