<div class="">
	<div class="">
		<div class="">

			<h1> Log in </h1>

			<%= form_tag :sessions, :method => :post do %>
			  <%= label_tag :email, 'Email', class: '' %>
			  <%= email_field_tag :email, nil, :required => true, class: '' %>
			
			  <%= label_tag :password, 'Contraseña', class: '' %></p>
			  <%= password_field_tag :password, nil, :required => true, class: '' %>
			
			  <%= submit_tag 'Aceptar', class: '' %>
			<% end %>
			<br>

			<div>Or <%= link_to 'Sign up', new_user_path %></div>

		</div>
	</div>
</div>